<!-- myapp/templates/myapp/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Other meta tags and links -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'myapp/favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyApp{% endblock %}</title>
</head>


<body>
    <nav>
        <a href="{% url 'jobs' %}">Jobs</a>
        <a href="{% url 'scores' %}">Scores</a>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>

